<%- include('../templates/headerAdmin') %>

<body>
    <section class="container-center">
        <div class="container-movie">
            <p class="form-p">Crear película</p>
        <form action="/admin/createmovie" method="POST" enctype="multipart/form-data" novalidate>
            <div class="input-group">
                <input type="text" id="title" name="title" required placeholder="Título">
            </div>
            <div class="input-group">
                <input type="text" id="director" name="director" required placeholder="Director/a">
            </div>
            <div class="input-group">
                <input type="text" id="year_movie" name="year_movie" required placeholder="Año">
            </div>
            <div class="input-group">
                <input type="text" id="name_genre" name="name_genre" required placeholder="Género">
            </div>
            <div class="input-group">
                <input type="text" id="duration" name="duration" required placeholder="Duración">
            </div>
            <div class="input-group">
                <textarea id="synopsis" name="synopsis" required class="input-synopsys"
                    placeholder="Sinopsis"></textarea>
            </div>
            <div class="input-group">
                <input type="file" id="image_url" name="file" required>
            </div>
            <button type="submit" class="btn-submit">Crear película</button>
        </form>

    </div>
    </section>
</body>

</html>