<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear una película</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container-movies">
        <h1>Crear una película</h1>
        <form action="/admin/createmovie" method="POST" novalidate>
            <div class="input-group">
                <input type="text" id="title" name="title" required placeholder="Título">
            </div>

            <div class="input-group">
                <input type="text" id="director" name="director" required placeholder="Director/a">
            </div>

            <div class="input-group">
                <input type="number" id="year_movie" name="year_movie" required placeholder="Año">
            </div>

            <div class="input-group">
                <input type="text" id="genre" name="genre" required placeholder="Género">
            </div>

            <div class="input-group">
                <input type="text" id="duration" name="duration" required placeholder="Duración">
            </div>

            <div class="input-group">
                <textarea id="synopsis" name="synopsis" required class="input-synopsys" placeholder="Sinopsis"></textarea>
            </div>

            <div class="input-group">
                <input type="file" id="image_url" name="image_url" required>
            </div>

            <button type="submit" class="btn">Crear película</button>
        </form>
    </div>
</body>

</html>