/* body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f0f0f0;
} */

.container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.btn {
    padding: 12px 24px;
    background: #3498db;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.btn:hover {
    background: #2980b9;
}