<!DOCTYPE html>
<html>

<head>
    <title>MovieApp</title>
    <link rel="stylesheet" href="/main.css">
</head>
 <%- include('../templates/header') %>
<body>
        <div class="container">
            <a href="/search" class="btn">Buscar películas</a>
            <a href="/favorites" class="btn">Favoritas</a>
        </div>
</body>

</html>