<!DOCTYPE html>
<html>

<head>
    <title>MovieApp</title>
    <link rel="stylesheet" href="/dashboard.css">
</head>

<body>
    <%- include('../templates/header') %>

        <div class="container">
            <a href="/search" class="btn">Buscar películas</a>
            <a href="/favorites" class="btn">Favoritas</a>
        </div>
</body>

</html>