
 <%- include('../templates/header') %>
<body>
        <div class="container">
            <a href="/user/search" class="btn">Buscar películas</a>
            <a href="/user/favorites" class="btn">Favoritas</a>
        </div>
</body>

</html>