
 <%- include('../templates/header') %>
<body>
        <div class="container-center">
            <a href="/user/search" class="btn-dashboard">Buscar películas</a>
            <a href="/user/movies" class="btn-dashboard">Mis películas</a>
        </div>
</body>

</html>