<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión - MovieApp</title>
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <div class="container">
        <h1>MovieApp</h1>

        <form action="/auth/login" method="POST">
            <div class="input-group">
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
            </div>

            <button type="submit" class="btn">Log in</button>
        </form>

        <div class="signup-link">
            ¿No tienes cuenta? <a href="/auth/signup">Sign up</a>
        </div>
    </div>
</body>

</html>