<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieApp</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <main class="container-center">
        <h1>MovieApp</h1>
        <div class="container-form">
        <p class="form-p">Iniciar sesión</p>
        <form action="/login" method="POST" novalidate>
            <div class="input-group">
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
            </div>

            <% if (errorMsg) { %>
                <p class="error-msg">
                    <%= errorMsg %>
                </p>
            <% } %>

            <button type="submit" class="btn-submit">Iniciar sesión</button>
        </form>

        <p>¿No tienes cuenta? <a href="/signup">Regístrate</a></p>
        </div>
    </main>
</body>

</html>