<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieApp</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <main class="container-center">
        <h1>MovieApp</h1>
        <div class="container-form">
            <p class="form-p">Registrarse</p>

        <form action="/register" method="POST" novalidate>
            <div class="input-group">
                <input type="name" id="name" name="name" required placeholder="Nombre">
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email" required placeholder="Email">
            </div>

            <div class="input-group">
                <input type="password" id="password" name="password" required placeholder="Contraseña">
            </div>

            <% if (errorMsg) { %>
                <p class="error-msg">
                    <%= errorMsg %>
                </p>
            <% } %>

            <button type="submit" class="btn-submit">Registrarse</button>

            <p>¿Tienes cuenta? <a href="/">Iniciar sesión</a></p>
        </form>
    </div>
    </main>
    
</body>

</html>