<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieApp</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <header>
        <div class="header-container">
            <h1 class="logo">MovieApp</h1>

            <button class="hamburger-btn" onclick="toggleMenu()">
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
                <div class="hamburger-line"></div>
            </button>
                <nav class="nav-menu" id="navMenu">
                <ul>
                    <li><a href="/logout">Cerrar sesión</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <script>
        function toggleMenu() {
            const menu = document.getElementById('navMenu');
            menu.classList.toggle('show-menu');
        }
    </script>
</body>

</html>